body
{
    text-align: center;
    background: linear-gradient (#E1BEE7 0%, #90CAF9 100%);
    background-repeat: no-repeat;
    background-color: palevioletred;
}
h1
{
    text-shadow: 2px 2px #F8BBD0;
    font-size: 20px;
}
#bio
{
    padding: 20px;
    font-size: 18;
    text-align: center;
    background: linear-gradient(aqua 30%,blueviolet 100%);
   
   
    
}

    
    

p
{
    text-align: center;
}
.menu
{
    list-style: none;
    font-family: cursive;
    position: absolute;
    top: 10px;
    right: 0px;
    z-index: 10;
    cursor: pointer;
}
.L1
{
    float: left;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: aquamarine;
    font-size: 15px;
}
.L1:hover
{
  background-color: aqua   
}
.pic:hover
{
  transform: scale(0.9)
}
